<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/dash.css">
    <title>Document</title>
</head>
<body>
    <!-- user part -->
     <main>
        <!-- three sections -->
        <div class="gym-name"><h1>Ashesi University Gyms</h1></div>
        <section class="first-section">
            <div class="greetings">
                <h1>Welcome, James Brown</h1>
            </div>

            <div class="inner-body-container">
                <div class="weight-loss">
                    <h1 class="weight-heading">Weight Loss</h1>
    
                    <div class="flex">
                        <div class="current-weight">
                            <div class="weight-container"><p class="actual-weight">143 <span>lb</span></p></div>
                            <div><p>Current Weight</p></div>
                        </div>
        
                        <div class="starting-weight">
                            <div class="weight-container"><p class="actual-weight">300 <span>lb</span></p></div>
                            <div><p>Starting Weight</p></div>
                        </div>
                    </div>

                    
                </div>


                <div class="another-container">
                    <div class="flex second">
                        <div class="current-weight">
                            <div class="weight-container"><p class="actual-weight flex-label">Session</p></div>
                            <div><p class="flex-label-1">Cardio Blast</p></div>
                        </div>
        
                        <div class="starting-weight">
                            <div class="weight-container"><p class="actual-weight flex-label">Trainer</p></div>
                            <div><p class="flex-label-1">Ben Carter</p></div>
                        </div>
                    </div>

                    <div class="buttons">
                        <div><button onclick="" class="btn">Update weight</button></div> 
                        <div><button onclick="" class="btn-1"> Enter exercise done</button></div>
                    </div>
        
                    
                </div>

                <!-- round Button -->
                <a href="#">
                    <div class="circle-container">
                        <h1>View Progress pictures</h1>
                    </div>
                </a>
                
            </div>

           
        </section>

         <section class="second-section">
            <div class="user-table">
                <table>
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Exercise Name</th>
                            <th>Sets</th>
                            <th>Reps</th>
                            <th>Duration</th>
                            <th>Notes</th>
                        </tr>
                    </thead>
                    <tbody id="recipe-table-body">
                    <!-- <?php
                        // Loop through the fetched recipes and display them in the table
                        foreach ($recipes as $recipe) {
                            echo "<tr>";
                            echo "<td>{$recipe['food_id']}</td>";
                            echo "<td>{$recipe['name']}</td>";
                            echo "<td>{$recipe['fname']} {$recipe['lname']}</td>";
                            echo "<td>{$recipe['created_at']}</td>";
                            echo "<td>
                                    <button class='view-btn' data-toggle='modal' data-target='#viewModal' onclick='viewRecipe({$recipe['food_id']})'>View</button>
                                    <button class='edit-btn' data-toggle='modal' data-target='#editModal' onclick='editRecipe({$recipe['food_id']})'>Edit</button>
                                    <button class='delete-btn' onclick='deleteRecipe({$recipe['food_id']})'>Delete</button>
                                </td>";
                            echo "</tr>";
                        }
                    ?> -->
                    </tbody>
                </table>
            </div>
         </section>
     </main>


        <!-- Modal Structure for New Recipe -->
        <div id="myModal" class="modal">
            <div class="modal-content">
                <span class="close" id="closeModal">&times;</span> <!-- Close button -->

                <h2 class="modal-title">Add New Entry</h2>
                <form id="create-recipe-form" enctype="multipart/form-data" method="POST" action="dash.php">
                    <!-- User Form Fields -->
                    <div class="section-1">
                        <div><input type="text" name="exercise-name" id="recipe-name" placeholder="Enter exercise name" required></div>
                        <div><input type="date" name="date" id="date" required></div>
                        <div><input type="number" name="sets" id="sets" placeholder="Number of Sets" required></div>
                        <div><input type="number" name="reps" id="reps" placeholder="Number of Reps" required></div>
                    </div>

                    <div class="section-2">
                        <div class="text-area-1">
                            <div><textarea id="ingredient-list" name="ingredient-list" style="resize: none;" placeholder="Notes about the exercise" required></textarea></div>
                        </div>

                        <div class="inner-section">
                            <div><input type="number" name="duration" id="duration" placeholder="Duration (minutes)" required></div>
                            <div><input type="file" name="file" id="file" required></div>
                        </div>
                    </div>

                    <div class="form-btns">
                        <button type="submit" id="submit-btn" class="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>

        <div id="myModal" class="modal">
            <div class="modal-content">
                <span class="close" id="closeModal">&times;</span> <!-- Close button -->

                <h2 class="modal-title">Update Weight</h2>
                <form id="create-recipe-form" enctype="multipart/form-data" method="POST" action="dash.php">
                    <!-- User Form Fields -->
                    <div class="section-1">
                        <div><input type="number" name="current-weight" id="current-weight" placeholder="Current weight" required></div>
                        <div><input type="date" name="date" id="date" required></div>
                    </div>

                    <div class="section-2">
                        <div class="text-area-1">
                            <div><textarea id="ingredient-list" name="feedback" style="resize: none;" placeholder="Comment on how workouts are going so far? (optional)"></textarea></div>
                        </div>

                    </div>

                    <div class="form-btns">
                        <button type="submit" id="submit-btn" class="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>

</body>
</html>